<div class="row">
    <%= render "/shared/loginnav" %>
</div>
<div style="overflow-x: hidden">
  <div calss ="row">
      <div class="col-sm-10 centered">
        <table  class="table table-striped">                
          <thead>
            <tr>
              <th>Category Name</th>
            </tr>
          </thead>         
          <% @categorys.each do |data| %>       
          <tr>
            <td><label><b><%= data.cname %></b></label></td>
            <td><%= link_to "add product", product_renew_path(data)%></td>
            <td><%= link_to "show product", product_show_path(data)%></td>
            <td><%= link_to "edit" %></td>
            <td><%= link_to "delete"%></td>
          </tr>
          <% end %>                        
        </table>  
      </div>
  </div>
</div>
<style>
.centered {
  position: absolute;
  position: fixed;
  top: 15%;
  left: 5%;
}
</style>